Source: swine
Section: otherosfs
Priority: extra
Maintainer: Dennis Schwerdel <schwerdel+swine@goolgemail.com>
Build-Depends: debhelper (>= 5), pyqt-tools
Standards-Version: 3.7.3

Package: swine
Architecture: all
Depends: ${shlibs:Depends}, python-qt3, python, cabextract, wine, xterm, icoutils, imagemagick
Description: A graphical frontend for wine
 Swine is a graphical frontend for wine (windows-api emulation 
 for Linux) that can manage several slots. With Swine you can 
 install windows programs on Linux using a clean windows for 
 every program. You can also easily manage your wine settings 
 and software installations with Swine.
Source: swine
Section: otherosfs
Priority: extra
Maintainer: Dennis Schwerdel <schwerdel+swine@goolgemail.com>
Build-Depends: debhelper (>= 5), pyqt-tools
Standards-Version: 3.7.3
