body {
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  color:#666666;
  background-color: #E0E0E0;
  font-family: verdana, arial, sans-serif;
}

A:link {
	COLOR: #0000FF; text-decoration: none;
}
A:visited {
	COLOR: #0000FF; text-decoration: none;
}
A:active {
	COLOR: #0000FF; text-decoration: none;
}
A:hover {
	COLOR: #FF0000; text-decoration: underline;
}

#page_wrapper {
  margin-left: auto; 
  margin-right: auto;
  width: 98%;
  text-align: left;
  background: #FFFFFF;
  border: 8px solid #FFFFFF;
}

#header_wrapper {
  background: #4E7DD1 url('../img/menu_bg.gif') bottom left repeat-x;
  margin:0px; padding:0px;
}

#header {
  height: 60px;
  padding:15px;
  background: url('../img/header_bg.gif') top right no-repeat;
  margin:0px;
}

#header h1 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 28px;
  color:#ffffff;
  letter-spacing: -1px;
}

#header h2 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  color:#B1C6EB;
  letter-spacing: 1px;
}

#left_side {
  margin-top: 10px;
  float: left;
  width: 160px;
  background: #F1F6FE url('../img/side_bg.gif') bottom left repeat-x;
  color: #333333;
}

#right_side {
  margin-top: 10px;
  float: right;
  width: 160px;
  background: #F1F6FE url('../img/side_bg.gif') bottom left repeat-x;
  color: #333333;
}

#content {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  margin-right: 180px;
}

#footer {
  background-color: #4E7DD1;
  margin-top: 1cm;
  padding: 2mm;
  clear: both;
  text-align: center;
  color: #B6CEF9;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
}

#footer A:link {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:visited {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:active {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:hover {
	COLOR: #FFFFFF; text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#left_side p, #right_side p {
  margin:10px;margin-top:15px;margin-bottom:15px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
}

#left_side h1, #right_side h1 {
  margin-top:5px; margin-bottom:10px; margin-left:5px; margin-right:5px;
  padding:4px;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  border:1px solid #0F3974;
  background-color: #2153AA;
}

#left_side h2, #right_side h2 {
  margin-top:0px;margin-bottom:0px;margin-left:10px;
  font-size: 12px;
  line-height: 12px;
  color: #2153AA;
}

#content {
  color: #333333;
}

#content p {
  margin-top:15px; margin-bottom: 15px;
}

#content h1 {
  margin-top: 2mm;
  margin-bottom: 5mm;
  font-size: 24px;
  line-height: 24px;
  color: #2153AA;
}

#content h2 {
  margin-top: 7mm;
  margin-bottom: 2mm;
  font-size: 18px;
  line-height: 18px;
  color: #2153AA;
}

#content h3 {
  margin-top: 5mm;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 12px;
  color: #2153AA;
}

#navlist
{
  margin-top:1px;
  margin-bottom:0px;
  text-align:center;
  padding: 5px 0;
  margin-left: 0;
  border-bottom: 1px solid #0F3974;
  font: bold 14px Verdana, sans-serif;
}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
}

#navlist li a
{
  color: #F1F6FE;
  padding: 5px 15px;
  margin-left: 3px;
  border: 1px solid #0F3974;
  border-bottom: none;
  background: #2153AA url('../img/tab_bg.gif') bottom left repeat-x;
  text-decoration: none;
}

#navlist li a:link { color: #F1F6FE; }
#navlist li a:visited { color: #F1F6FE; }

#navlist li a:hover
{
  color: #FFFFFF;
  background: #3364BB;
  border-color: #0F3974;
}

#navlist li a#current
{
  color: #000;
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

ul.menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
ul.menu li {
  font-size: 13px;
  line-height: 18px;
}
ul.menu > li {
  padding-left: 3mm;
}

a, a:hover, a:visited {
  color: #00f
}

.float_left {
  float: left;
  margin-right: 10px;
}

.float_right {
  float: right;
  margin-left: 10px;
}

.featurebox_center {
  background-color: #fffff6;
  margin:0px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.featurebox_side {
  background-color: #fffff6;
  margin:0px;margin-left:10px;margin-right:10px;margin-bottom:15px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

pre, code {
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}