[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Swine
Type=Application
Exec=swine
Icon=/usr/share/swine/images/swine32.png
Categories=Wine;
Comment=Swine is a wine frontend
