#define menu_active(name,url) <li id="active"><a href="url" id="current">name</a></li>
#define menu_inactive(name,url) <li><a href="url">name</a></li>

#ifdef SECTION_MAIN
menu_active(Main,index.html)
#else
menu_inactive(Main,index.html)
#endif

#ifdef SECTION_FEATURES
menu_active(Features,features.html)
#else
menu_inactive(Features,features.html)
#endif

#ifdef SECTION_SCREENSHOTS
menu_active(Screenshots,screenshots.html)
#else
menu_inactive(Screenshots,screenshots.html)
#endif

#ifdef SECTION_INSTALL
menu_active(Install,install.html)
#else
menu_inactive(Install,install.html)
#endif

#ifdef SECTION_HELP
menu_active(Help,help.html)
#else
menu_inactive(Help,help.html)
#endif

menu_inactive(<font face="verdana">&rarr;</font> Github page,http://github.com/dswd/Swine)
